<body onLoad="document.getElementById('new_title').focus()">
<%= image_tag 'alien.png' %>
<h1 style="display:inline;">100個考える</h1>　&nbsp;&nbsp;[<%= @user[:username] %>]さん
    &nbsp;&nbsp;<small>
        <%= link_to "ログアウト", {:controller => "questions", :action => "logout"},data: {confirm: "ログアウトしますか？"}%>
    </small>

<hr>
<%= form_for(@title, :url => {:controller => :questions ,:action => :add}) do |f| %>
    <%= f.label :テーマ %>
    <%= f.text_field :title ,:size =>'20x1' %>
    <%= f.submit :テーマ追加%>
<% end %>

    <ol reversed >
<% @titles.each do |title_list| %>
    <li>
        <b><a href="new?no=<%=title_list.id%>"><%= title_list.title %></a></b>
        &nbsp;&nbsp;<small><a href="output_csv.csv?no=<%=title_list.id%>">ダウンロード</a></small>
        &nbsp;&nbsp;<small>
            <%= link_to "削除", {:controller => "questions", :action => "delete",:id => title_list}, data: {confirm: "本当に削除しますか？"}%>
        </small>        
    </li><br/>
<% end %>
</ol>

