<%= image_tag 'alien.png' %>    <h1 style="display:inline;">ログイン</h1>
<hr>
<p style="color:Red"><%= @error %></p>
<%= form_tag action: :auth do %>
        <div class="field">
            <%= label_tag :username,'ユーザ名' %>:<br />
            <%= text_field_tag :username,'',size:20 %>
        </div>
        <div class="field">
            <%= label_tag :password,'パスワード' %><br />
            <%= password_field_tag :password,'',size:20 %>
        </div>
<!-- ログイン後のリダイレクトアクション -->
<%= hidden_field_tag :referer, flash[:referer] %>
<%= submit_tag 'ログイン' %>
<% end %>
<hr>
<h1>新規登録</h1>
<p style="color:Red"><%= @registerror %></p>
<%= form_tag action: :regist do %>
        <div class="field">
            <%= label_tag :username,'ユーザ名' %>:<br />
            <%= text_field_tag :username,'',size:20 %>
        </div>
        <div class="field">
            <%= label_tag :password,'パスワード' %><br />
            <%= password_field_tag :password,'',size:20 %>
        </div>
<!--
        <div class="field">
            <%= label_tag :email,'email' %><br />
            <%= text_field_tag :email,'',size:40 %>
        </div>
-->
<%= submit_tag 'ユーザ登録' %>
<% end %>
<hr>
<font size="1" color="red"><pre>
※このページは ao_dev がRuby　on Rails の練習として作成しています。
※会員登録、ログインをすると[100 個考える]というWebサイトにつながります、
  特定のテーマにそって思いついた事を書いていくだけのものですが、
  自分の考えを整理する際に無理にでも100個書いてみる為に作りました。
※中を見てみたい場合、ID:user PW:user で入れます。

mail :36g3f@svk.jp
</pre></font>
<hr>
