<body onLoad="document.getElementById('question_content').focus()">
<%= image_tag 'alien.png' %>
    <h1 style="display:inline;">100個考える</h1>　&nbsp;&nbsp;[<%= @user[:username] %>]さん
    &nbsp;&nbsp;<a href="index">戻る</a><br>
<hr>

<h2><%= @title[:title] %> って？</h2>
<%= form_for @question do |f| %>
    <%= f.hidden_field :no, :value => @no %>
    <%= f.label :回答 %>
<%= f.text_field :content ,:size => "40x1"%>
    <%= f.submit :追加%>
<% end %>
    
<ol reversed >
<% @questions.each do |question| %>
    <li><%= question.content %>&nbsp;&nbsp;&nbsp;
        <small>
            <%= link_to "削除", {:controller => "questions", :action => "q_delete",:id => question}, data: {confirm: "本当に削除しますか？"}%>
        </small>
    </li> <br/>
<% end %>
</ol>